
  @font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url(./fonts/q.ttf); /*URL to font*/
}
  .navstyle {
    font-weight: bold;
    font-family: 'YourFontName', Arial, Helvetica, sans-serif;;
    font-weight: 100px;
    color: black;
    font-size: 22px;
    color: white;
    margin: 10px;
    border-color: red;
    border: 20px;
    transition-delay: .1s;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.35,1.08,.72,.91);
    border-radius: 2px;
  }
  .box10 {
    justify-content: center;
    margin: auto;
  }
  .navstyle:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    padding-left: 22px;
    padding-right: 22px;    
    padding-top: 4px;
    padding-bottom: 4px;

  }

  .container-1 {
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    background-color: rgb(43, 43, 43);
    border-radius: 13px;
    padding: 0px;
    margin-bottom: 10px;
    padding-bottom: 0;
    width: 90%;
    box-shadow: 20px 20px 20px black;
    align-content: center;
    font-family:'YourFontName', Arial, Helvetica, sans-serif;
  }

  .container-1 div {
    justify-content: center;
    border: 10px black;
    border-radius: 15px;
    padding-bottom: -2px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    width: 110%;
    height: 115%;
    overflow: hidden;
    margin: 5px;
    align-items: center;
    font-family: 'YourFontName', Arial, Helvetica, sans-serif;
  }
  .boxstyle {
    border-radius: 10px;
    width: 100%;
  }

  .container-3 {
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(72, 72, 72);
    border-radius: 13px;
    padding: 0px;
    padding-bottom: 0;
    width: 90%;
    box-shadow: 0px 8px 10px black;
    margin-bottom: 700px;
  }

  .container-3 div {
    justify-content: center;
    border: 10px black;
    border-radius: 15px;
    padding-bottom: -2px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    width: 110%;
    height: 115%;
    overflow: hidden;
    margin: 5px;
    align-items: center;
  }
  .box-1 {
    
    flex: 1;
    transition-delay: .1s;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.35,1.08,.72,.91);
  }
  .box-1:hover {
    box-shadow: 5px 5px 5px black;
  }

  .container-2 {
    margin-top: px;
    text-align: center;
    margin-right: 07px;
  }

  .container-2 div {
    border: 10px black;
    border-radius: 3px;
  }

  .xuxlogo {
    margin-top: 250px;
    height: 100px ;
  padding-right: 20  0px;
  object-fit: cover;
  transition-delay: .1s;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.35,1.08,.72,.91);
  border-radius: 2px;
  }
  .xuxlogo:hover {
    transform: scale(1.1);
    transition-duration: 2.2s;
  }
  .igcontainer {
    text-align: center;
    margin-top: 20px;
  }

  .iglogo {
    padding: 2px;
    height: 40px;
    object-fit: cover;
    transition-delay: .1s;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.35,1.08,.72,.91);
  }
  .iglogo:hover {
    transform: scale(1.1);
  }
  .BETA {
    color: white;
    font-style: italic;
  }

  .box-4 {
    flex: 1;
    transition-delay: .1s;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.35,1.08,.72,.91);
  }
  .box-4:hover {
    box-shadow: 5px 5px 5px black;
  }

  .hmtl,
  body {
    margin: 0px;
    background-image: linear-gradient( 025deg, maroon,rgb(79, 78, 78),black,rgb(37, 37, 37),darkgray);
    background-size: 400%;
    height: 100%;
    animation: bg-animation 30s infinite alternate;
  }
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  200% {
    background-position: right;
  }
}
  .boardtext {
    position: fixed;
    justify-content: center;
    text-align: center;
  }

  .pagetitle {
    font-family: 'YourFontName', Arial, Helvetica, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: bold;
    padding-top: 0px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    margin-bottom: 10px;
  }

  .container-5 {
    display: flex;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    margin-top: 450px;
  }


  .container-6 {
    display: flex;
    height: auto;
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .xuxcontainer {
    text-align: center;
  }

  .containerbottem {
    display: flex;
    color: white;
    width: 100%;
    background-color: rgb(76, 76, 76);
    height: 150px;
  }
  .boxleft {
    width: 100%;
    color: white;
    font-family: 'YourFontName', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 1%;
  }
  .boxmiddle {
    margin-top: 1%;
    width: 100%;
    color: white;
    font-family: 'YourFontName', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .boxright {
    margin-top: 1%;
    width: 100%;
    color: white;
    font-family: 'YourFontName', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
    margin-right: 3%;
  }
  .cm {
    border: 10px;
    text-align: center;
    border-color: rgb(235, 26, 26);
    margin: 0px;
    border-bottom-style: solid;
    border-color: black;
    border-radius: 20px;
    font-size: 20px;
  }
  .cmt {
    padding-left: 30px;
  }
  .cml {
    padding-left: 30px;
  }

  